<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/loginUser" method="post">
        <input type="text" placeholder="Enter email" name="email">
        <input type="text" placeholder="Enter password" name="password">

        <button type="submit">Login</button>
    </form>

    <a href="/register"><button>Register</button></a>
</body>
</html>